body {
	background-color: #BF1515;
}
.container {
display: block;
height: 70vh;
width: calc(200vw/2vw);
}
/*the audio code was found in, https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_audio_all and I displayed it none out of my understanding so the player icon isn't shown*/
audio { 
   display:none;
}
.green {
  display: flex;
}
.disappear {
	display: none;
}
.yellow {
	height: 100vh;
	width: 100vw;
}
.purple {
background-image: url(superman.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
  height: 50vh;
  width: 50vw;
}
.purple:hover {
opacity: 0.9;
cursor: pointer;
}
.purpletwo {
content: url(superbio.jpg);
}
.blue {
 background-image: url(clarkent.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
  display: flex;
  height: 50vh;
  width: 50vw;
}
.blue:hover {
opacity: 0.9;
cursor: pointer;
}
.bluetwo {
content: url(clarkbio.jpg);
}
/*https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onclick this is the website I got the code from to make the words that appear onclick of the button be under the button rather next to.*/
button {
margin: 0 auto;
width: 15%;
height: 5vh;
font-size: 10px;
display: block;
}
button:hover {
background: rgba(0,0,0,0);
	color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
}
/*the button hover was taken from, http://www.developerdrive.com/2015/01/8-simple-css-hover-effects/*/
h2 {
  font-style: italic;
font-weight: bold;
   font-size: 30px;
font-color: #ffffff;
}
h1 {
 text-decoration: underline;
font-weight: bold;
text-align: center;
text-transform: capitalize;
 text-shadow: 3px 5px red;
font-size: 44px;
}
h3 {
text-align: center;
font-style: italic;
font-weight: bold;
display: block;
color: blue;
}
p {
font-size: 18px;
font-weight: bold;
display: block;
color: #01A9EC;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
.comic1 {
background-image: url(comic222.jpeg);
	width: 25vw;
  height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic1:hover {
cursor: pointer;
}
.comic2 {
background-image: url(comic33.jpg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic2:hover {
cursor: pointer;
}
.comic3 {
	background-image: url(comic111.jpeg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic3:hover {
cursor: pointer;
}
.comic4 {
	background-image: url(comic22.jpeg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic4:hover {
cursor: pointer;
}
.comic5 {
	background-image: url(comic55.jpeg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic5:hover {
cursor: pointer;
}
.comic6 {
background-image: url(comic5.jpg);
width: 25vw;
height: 50vh;
display: flex;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic6:hover {
cursor: pointer;
}
.comic7 {
background-image: url(comic77.jpeg);
width: 25vw;
height: 50vh;
display: flex;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic7:hover {
cursor: pointer;
}
.comic8 {
background-image: url(comic88.jpeg);
width: 25vw;
height: 50vh;
display: flex;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic8:hover {
cursor: pointer;
}
.ona {
content: url(symbol.gif);
}
.onb {
content: url(super.gif);
}
.onc {
content: url(fight.gif);
}
.ond {
content: url(supm.gif);
}
.one {
content: url(fourcomic.gif);
}
.onf {
content: url(kent.gif);
}
.ong {
content: url(bed.gif);
}
.onh {
content: url(face.gif);
}
@media screen and (max-width: 700px) {
  .comic1 {
    width: 50vw;
  }
  .comic2 {
    width: 50vw;
  }
  .comic3 {
    width: 50vw;
  }
  .comic4 {
    width: 50vw;
  }
  .comic5 {
    width: 50vw;
  }
  .comic6 {
    width: 50vw;
  }
  .comic7 {
    width: 50vw;
  }
  .comic8 {
    width: 50vw;
  }
p {
color: blue;
font-size: 14px;
}
}
@media screen and (max-width: 500px) {
body {
background-color: #0D3189;
}
p {
color: red;
font-size: 10px;
}
}
@media screen and (max-width: 400px) {
p {
font-size: 15px:
}
