body {
	background-color: #BF1515;
	margin:0;
	border:0;
	padding:0;
}
.container {
display: block;
height: 70vh;
width: 100vw;
}
.green {
  display: flex;
 
}
.disappear {
	display: none;
}
.yellow {
	display: flex;
	height: 35vh;
	width: 100vw;
}
.purple {
background-image: url(superman.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
  height: 50vh;
  width: 50vw;
-webkit-filter: blur(0);
filter: blur(0);
}
.blue {
 background-image: url(clarkent.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
  display: flex;
  height: 50vh;
  width: 50vw;
}
.button {
	margin: 0 auto;
	height: 15vh;
	width: 15vw;
  border: 3px solid #330A0A;
	text-align: center;
}
demo {
	display: flex;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
}
h2 {
  font-style: italic;
font-weight: bold;
   font-size: 30px;
font-color: #ffffff;
}
h1 {
 text-decoration: underline;
font-weight: bold;
text-align: center;
text-transform: capitalize;
 text-shadow: 3px 5px red;
font-size: 36px;
}
p {
text-align: center;
font-style: italic;
font-size: 30px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
.comic1 {
background-image: url(comic88.png);
	width: 25vw;
  height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
	
}
.comic2 {
background-image: url(comic2.jpg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic3 {
	background-image: url(comic7.png);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic4 {
	background-image: url(comic6.jpg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic5 {
	background-image: url(comic5.jpg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic6 {
	background-image: url(comic1.jpg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic7 {
	background-image: url(comic3.png);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
}
.comic8 {
background-image: url(comic4.jpg);
	width: 25vw;
    height: 50vh;
  display: flex;
	background-repeat: no-repeat;
background-size: 100% 100%;
	
}
@media screen and (max-width: 700px) {
  .comic1 {
    width: 50vw;
  }
  .comic2 {
    width: 50vw;
  }
  .comic3 {
    width: 50vw;
  }
  .comic4 {
    width: 50vw;
  }
  .comic5 {
    width: 50vw;
  }
  .comic6 {
    width: 50vw;
  }
  .comic7 {
    width: 50vw;
  }
  .comic8 {
    width: 50vw;
  }
.button {
	width: 22vw;

}
}
@media screen and (max-width: 500px) {
body {
background-color: #0D3189;
	}
	.button {
		background-color: #ff0000;
	}
	
}
}
